<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background:url("E:\\APPLICATION BUILDING\\IMAGES\\img1.jpg") no-repeat center fixed;
            background-size: cover;
            }
        .t{
            color:Darkblue;
            text-align:center;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Admit Eligibility Predictor</title>
</head>
<body>
    <h1 class="t"> UNIVERSITY ADMISSION PREDICTION SYSTEM </h1>
        
    <h2> Enter your details and get probability of your admission </h2>
<form action='/y_predict', method='post'>
Enter GRE Score: <input type="text" name="GRE" placeholder="GRE" required="required" />
<br><br>
Enter TOEFL Score: <input type="text" name="TOEFL" placeholder="TOEFL" required="required" />
<br><br>
University Rating : 
<br>
<input type="radio" id="1" name="no" value="1"/><label>1</label><br>
<input type="radio" id="2" name="no" value="2"/><label>2</label><br>
<input type="radio" id="3" name="no" value="3"/><label>3</label><br>
<input type="radio" id="4" name="no" value="4"/><label>4</label><br>
<input type="radio" id="5" name="no" value="5"/><label>5</label><br>
<br>
Enter SOP: <input type="text" name="SOP" placeholder="SOP" required="required"  />
<br><br>
 Enter LOR: <input type="text" name="LOR" placeholder="LOR" required="required"  />
<br><br>
 Enter CGPA: <input type="text" name="CGPA" placeholder="CGPA" required="required"  />
<br><br>
 Research: 
<br>
<input type="radio" id="1" name="res" value="1"/><label>Research</label><br>
<input type="radio" id="0" name="res" value="0"/><label>No Research</label><br>
<br>
<input type="submit" value="Predict"/>

</form>
    
</body>
</html>