<html>
    <head>
        <style>
            body{
                background-image:url("E:\\APPLICATION BUILDING\\IMAGES\\img5.jpg");
                background-repeat:no-repeat;
                background-size:500px 500px;
                background-attachment:fixed;
                background-position:center;
            }
            h1,h3{
                text-align:center;
            }
        </style>
        <title> chance </title>
    </head>
    <body>
        <h1> Predicting Chance of Admission </h1>
        <h3> Prediction : <b><u>You don't have a chance</u> !!...</b> <img  src="E:\\APPLICATION BUILDING\\IMAGES\\img4.jpg" height="40px" width="40px" /></h3>
        <h3><a href="/">Go Back..</a></h3>
    </body>
</html>